// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.styl files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $primary   = #000000
$primary   = #FFC107
$secondary = #26A69A
$accent    = #9C27B0

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

// /* CSS */
// https://coolors.co/ffc107-b18604-3f3005-292103-323232-222222-121212-000000
// --color1: hsla(45%, 97%, 100%, 1);
// --color2: hsla(45%, 98%, 69%, 1);
// --color3: hsla(44%, 92%, 25%, 1);
// --color4: hsla(47%, 93%, 16%, 1);
// --color5: hsla(0%, 0%, 20%, 1);
// --color6: hsla(0%, 0%, 13%, 1);
// --color7: hsla(0%, 0%, 7%, 1);
// --color8: hsla(0%, 0%, 0%, 1);

// /* HEX */
// $color1: #ffc107ff;
// $color2: #b18604ff;
// $color3: #3f3005ff;
// $color4: #292103ff;
// $color5: #323232ff;
// $color6: #222222ff;
// $color7: #121212ff;
// $color8: #000000ff;

// /* HSL */
// $color1: hsla(45%, 97%, 100%, 1);
// $color2: hsla(45%, 98%, 69%, 1);
// $color3: hsla(44%, 92%, 25%, 1);
// $color4: hsla(47%, 93%, 16%, 1);
// $color5: hsla(0%, 0%, 20%, 1);
// $color6: hsla(0%, 0%, 13%, 1);
// $color7: hsla(0%, 0%, 7%, 1);
// $color8: hsla(0%, 0%, 0%, 1);

// /* RGB */
// $color1: rgba(255, 193, 7, 1);
// $color2: rgba(177, 134, 4, 1);
// $color3: rgba(63, 48, 5, 1);
// $color4: rgba(41, 33, 3, 1);
// $color5: rgba(50, 50, 50, 1);
// $color6: rgba(34, 34, 34, 1);
// $color7: rgba(18, 18, 18, 1);
// $color8: rgba(0, 0, 0, 1);

// /* GRADIENT */
// $gradient-top: linear-gradient(0deg, #ffc107ff, #b18604ff, #3f3005ff, #292103ff, #323232ff, #222222ff, #121212ff, #000000ff);
// $gradient-right: linear-gradient(90deg, #ffc107ff, #b18604ff, #3f3005ff, #292103ff, #323232ff, #222222ff, #121212ff, #000000ff);
// $gradient-bottom: linear-gradient(180deg, #ffc107ff, #b18604ff, #3f3005ff, #292103ff, #323232ff, #222222ff, #121212ff, #000000ff);
// $gradient-left: linear-gradient(270deg, #ffc107ff, #b18604ff, #3f3005ff, #292103ff, #323232ff, #222222ff, #121212ff, #000000ff);
// $gradient-top-right: linear-gradient(45deg, #ffc107ff, #b18604ff, #3f3005ff, #292103ff, #323232ff, #222222ff, #121212ff, #000000ff);
// $gradient-bottom-right: linear-gradient(135deg, #ffc107ff, #b18604ff, #3f3005ff, #292103ff, #323232ff, #222222ff, #121212ff, #000000ff);
// $gradient-top-left: linear-gradient(225deg, #ffc107ff, #b18604ff, #3f3005ff, #292103ff, #323232ff, #222222ff, #121212ff, #000000ff);
// $gradient-bottom-left: linear-gradient(315deg, #ffc107ff, #b18604ff, #3f3005ff, #292103ff, #323232ff, #222222ff, #121212ff, #000000ff);
// $gradient-radial: radial-gradient(#ffc107ff, #b18604ff, #3f3005ff, #292103ff, #323232ff, #222222ff, #121212ff, #000000ff);
