<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://rodrigoszsampaio.com">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.productName %>">
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta property="og:image" content="https://rodrigoszsampaio.com/statics/ogimage.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://rodrigoszsampaio.com">
    <meta property="twitter:title" content="<%= htmlWebpackPlugin.options.productName %>">
    <meta property="twitter:description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta property="twitter:image" content="https://rodrigoszsampaio.com/statics/ogimage.jpg">

    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1, maximum-scale=5, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" href="statics/app-logo-128x128.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="statics/icons/favicon-96x96.png">
    <link rel="icon" type="image/ico" href="statics/icons/favicon.ico">
  </head>
    <body>
    <noscript>
      <!-- <div style="background-color: #ffec00; color: #000000; height: 100%; width: 100%; left:0; top:0; position: fixed;" >
        <div style="position: absolute; top: 60%; left: 40%; transform: translate(-50%, -50%);">
          <img src="statics/app-logo-128x128.png" width="30%" height="30%">
          <h3>Sorry, but my scripts are being blocked by your browser.</h3>
        </div>
      </div> -->
    </noscript>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
